#Host gitlab.com
#  Hostname altssh.gitlab.com
#  User git
#  Port 443
#  PreferredAuthentications publickey
#  IdentityFile ~/.ssh/gitlab

Host trishome
  Hostname 192.168.1.8
  User biggybi
  # Port 443
  PreferredAuthentications publickey
  IdentityFile ~/.ssh/trishome

Host avtiyovn
  Hostname 192.168.1.24
  User tris
  Port 24
  PreferredAuthentications publickey
  IdentityFile ~/.ssh/avtiyovn

Host github.com
	Hostname ssh.github.com
	Port 443

Host gitlab.com
	Hostname altssh.gitlab.com
	Port 443

# Host gitlab
#   Hostname 192.168.1.42
#   User tris
#   Port 42
#   PreferredAuthentications publickey
#   IdentityFile ~/.ssh/gitlab
