[submodule "vim/tlib_vim"]
	path = vim/pack/bundle/start/tlib_vim
	url = https://github.com/tomtom/tlib_vim
	ignore = dirty
[submodule "vim/vim-eunuch"]
	path = vim/pack/bundle/start/vim-eunuch
	url = https://github.com/tpope/vim-eunuch
	ignore = dirty
[submodule "vim/ultisnips"]
	path = vim/pack/bundle/start/ultisnips
	url = https://github.com/sirver/ultisnips
	ignore = dirty
[submodule "vim/vim-snippets"]
	path = vim/pack/bundle/start/vim-snippets
	url = https://github.com/honza/vim-snippets
	ignore = dirty
[submodule "vim/vim-unimpaired"]
	path = vim/pack/bundle/start/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired
	ignore = dirty
[submodule "vim/vim-repeat"]
	path = vim/pack/bundle/start/vim-repeat
	url = https://github.com/tpope/vim-repeat
	ignore = dirty
[submodule "vim/vim-swap"]
	path = vim/pack/bundle/start/vim-swap
	url = https://github.com/machakann/vim-swap
	ignore = dirty
[submodule "vim/MatchTag"]
	path = vim/pack/bundle/start/MatchTag
	url = https://github.com/gregsexton/MatchTag
	ignore = dirty
[submodule "vim/vim-vinegar"]
	path = vim/pack/bundle/start/vim-vinegar
	url = https://github.com/tpope/vim-vinegar
	ignore = dirty
[submodule "vim/vim-commentary"]
	path = vim/pack/bundle/start/vim-commentary
	url = https://github.com/tpope/vim-commentary
	ignore = dirty
[submodule "vim/vim-fugitive"]
	path = vim/pack/bundle/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
	ignore = dirty
[submodule "vim/vim-gitgutter"]
	path = vim/pack/bundle/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
	ignore = dirty
[submodule "vim/vim-surround"]
	path = vim/pack/bundle/start/vim-surround
	url = https://github.com/tpope/vim-surround
	ignore = dirty
[submodule "vim/vim-speeddating"]
	path = vim/pack/bundle/start/vim-speeddating
	url = https://github.com/tpope/vim-speeddating
	ignore = dirty
[submodule "vim/goyo.vim"]
	path = vim/pack/bundle/start/goyo.vim
	url = https://github.com/junegunn/goyo.vim
	ignore = dirty
[submodule "vim/vim-tmux-focus-events"]
	path = vim/pack/bundle/start/vim-tmux-focus-events
	url = https://github.com/tmux-plugins/vim-tmux-focus-events
	ignore = dirty
[submodule "vim/vimwiki"]
	path = vim/pack/bundle/start/vimwiki
	url = https://github.com/vimwiki/vimwiki
	ignore = dirty
[submodule "vim/fzf.vim"]
	path = vim/pack/bundle/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim
	ignore = dirty
[submodule "vim/fzf"]
	path = vim/pack/bundle/start/fzf
	url = https://github.com/junegunn/fzf
	ignore = dirty
[submodule "vim/vim-pseudocl"]
	path = vim/pack/bundle/start/vim-pseudocl
	url = https://github.com/junegunn/vim-pseudocl
	ignore = dirty
[submodule "vim/vim-rhubarb"]
	path = vim/pack/bundle/start/vim-rhubarb
	url = https://github.com/tpope/vim-rhubarb
	ignore = dirty
[submodule "vim/vim-anzu"]
	path = vim/pack/bundle/start/vim-anzu
	url = https://github.com/osyo-manga/vim-anzu
	ignore = dirty
[submodule "vim/undotree"]
	path = vim/pack/bundle/start/undotree
	url = https://github.com/mbbill/undotree
	ignore = dirty
[submodule "vim/vim-endwise"]
	path = vim/pack/bundle/start/vim-endwise
	url = https://github.com/tpope/vim-endwise
	ignore = dirty
[submodule "vim/vim-obsession"]
	path = vim/pack/bundle/start/vim-obsession
	url = https://github.com/tpope/vim-obsession
	ignore = dirty
[submodule "vim/vim-scriptease"]
	path = vim/pack/bundle/start/vim-scriptease
	url = https://github.com/tpope/vim-scriptease
	ignore = dirty
[submodule "vim/coc-fzf"]
	path = vim/pack/bundle/start/coc-fzf
	url = https://github.com/antoinemadec/coc-fzf
	ignore = dirty
[submodule "vim/coc.nvim"]
	path = vim/pack/bundle/start/coc.nvim
	url = https://github.com/neoclide/coc.nvim
	ignore = dirty
	branch = release
[submodule "vim/vim-cpp-enhanced-highlight"]
	path = vim/pack/bundle/start/vim-cpp-enhanced-highlight
	url = https://github.com/octol/vim-cpp-enhanced-highlight
	ignore = dirty
[submodule "vim/vim-indent-object"]
	path = vim/pack/bundle/start/vim-indent-object
	url = https://github.com/michaeljsmith/vim-indent-object
	ignore = dirty
[submodule "vim/FYT.vim"]
	path = vim/pack/bundle/start/FYT.vim
	url = https://github.com/statox/FYT.vim
	ignore = dirty
[submodule "gnome_setup/xcape"]
	path = gnome_setup/xcape
	url = https://github.com/alols/xcape
	ignore = dirty
[submodule "langserver/efm-langserver"]
	path = langserver/efm-langserver
	url = https://github.com/mattn/efm-langserver
	ignore = dirty
[submodule "langserver/groovy-language-server"]
	path = langserver/groovy-language-server
	url = https://github.com/prominic/groovy-language-server
[submodule "tmux/plugins/tmux-resurrect"]
	path = tmux/plugins/tmux-resurrect
	url = https://github.com/tmux-plugins/tmux-resurrect
[submodule "tmux/plugins/tmux-fzf"]
	path = tmux/plugins/tmux-fzf
	url = https://github.com/sainnhe/tmux-fzf
[submodule "shells/zsh/plugins/zsh-autosuggestions"]
	path = shells/zsh/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "shells/zsh/plugins/zsh-syntax-highlighting"]
	path = shells/zsh/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
[submodule "shells/shells/zsh/plugins/zsh-vi-mode"]
	path = shells/zsh/plugins/zsh-vi-mode
	url = https://github.com/jeffreytse/zsh-vi-mode
[submodule "fonts/JetBrainsMono"]
	path = fonts/JetBrainsMono
	url = https://github.com/JetBrains/JetBrainsMono
	ignore = dirty
[submodule "vim/pack/bundle/start/vim-lsp-cxx-highlight"]
	path = vim/pack/bundle/start/vim-lsp-cxx-highlight
	url = https://github.com/jackguo380/vim-lsp-cxx-highlight
[submodule "shells/themes/base16-shell"]
	path = shells/themes/base16-shell
	url = https://github.com/chriskempson/base16-shell
	ignore = dirty
; [submodule "42/norminettev1"]
; 	path = 42/norminettev1
; 	url = git@gitlab.com:42lyon/norminette-client-externe
[submodule "tmux/plugins/tmux-continuum"]
	path = tmux/plugins/tmux-continuum
	url = https://github.com/tmux-plugins/tmux-continuum
[submodule "vim/pack/bundle/start/ZoomWin"]
	path = vim/pack/bundle/start/ZoomWin
	url = https://github.com/itspriddle/ZoomWin
[submodule "vim/pack/bundle/start/fugitive-gitlab.vim"]
	path = vim/pack/bundle/start/fugitive-gitlab.vim
	url = https://github.com/shumphrey/fugitive-gitlab.vim
[submodule "vim/pack/bundle/start/vim-abolish"]
	path = vim/pack/bundle/start/vim-abolish
	url = https://github.com/tpope/vim-abolish
[submodule "vim/pack/bundle/start/vim-go"]
	path = vim/pack/bundle/start/vim-go
	url = https://github.com/fatih/vim-go
[submodule "nvim/pack/bundle/start/cmp-cmdline"]
	path = nvim/pack/bundle/start/cmp-cmdline
	url = https://github.com/hrsh7th/cmp-cmdline
[submodule "nvim/pack/bundle/start/cmp-nvim-lsp"]
	path = nvim/pack/bundle/start/cmp-nvim-lsp
	url = https://github.com/hrsh7th/cmp-nvim-lsp
[submodule "nvim/pack/bundle/start/nvim-cmp"]
	path = nvim/pack/bundle/start/nvim-cmp
	url = https://github.com/hrsh7th/nvim-cmp
[submodule "nvim/pack/bundle/start/nvim-lspinstall"]
	path = nvim/pack/bundle/start/nvim-lspinstall
	url = https://github.com/kabouzeid/nvim-lspinstall
[submodule "nvim/pack/bundle/start/nvim-lspconfig"]
	path = nvim/pack/bundle/start/nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig
[submodule "nvim/pack/bundle/start/plenary.nvim"]
	path = nvim/pack/bundle/start/plenary.nvim
	url = https://github.com/nvim-lua/plenary.nvim
[submodule "nvim/pack/bundle/start/cmp-nvim-ultisnips"]
	path = nvim/pack/bundle/start/cmp-nvim-ultisnips
	url = https://github.com/quangnguyen30192/cmp-nvim-ultisnips
[submodule "nvim/pack/bundle/start/lua-language-server"]
	path = nvim/pack/bundle/start/lua-language-server
	url = https://github.com/sumneko/lua-language-server
[submodule "nvim/pack/bundle/start/nvim-treesitter"]
	path = nvim/pack/bundle/start/nvim-treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter
[submodule "nvim/pack/bundle/start/telescope.nvim"]
	path = nvim/pack/bundle/start/telescope.nvim
	url = https://github.com/nvim-telescope/telescope.nvim
[submodule "nvim/pack/bundle/start/gitsigns.nvim"]
	path = nvim/pack/bundle/start/gitsigns.nvim
	url = https://github.com/lewis6991/gitsigns.nvim
