#[submodule "vim/bundle/syntastic"]
#	path = vim/bundle/syntastic
#	url = https://github.com/vim-syntastic/syntastic
#[submodule "vim/bundle/vim-fugitive"]
#	path = vim/bundle/vim-fugitive
#	url = https://github.com/tpope/vim-fugitive
#[submodule "vim/bundle/vim-gitgutter"]
#	path = vim/bundle/vim-gitgutter
#	url = https://github.com/airblade/vim-gitgutter
#[submodule "vim/bundle/lightline"]
#	path = vim/bundle/lightline
#	url = https://github.com/itchyny/lightline.vim
#[submodule "vim/bundle/vim-pathogen"]
#	path = vim/bundle/vim-pathogen
#	url = https://github.com/tpope/vim-pathogen.git
[submodule "gnome_setup/xcape"]
	path = gnome_setup/xcape
	url = https://github.com/alols/xcape.git
[submodule "vim/bundle/https:/github.com/junegunn/fzf.vim"]
	path = vim/bundle/https:/github.com/junegunn/fzf.vim
	url = git@github.com:metakirby5/codi.vim.git
[submodule "vim/bundle/vim-vinegar"]
	path = vim/bundle/vim-vinegar
	url = https://github.com/tpope/vim-vinegar.git
[submodule "vim/bundle/codi.vim"]
	path = vim/bundle/codi.vim
	url = git@github.com:metakirby5/codi.vim.git
[submodule "vim/bundle/MatchTag"]
	path = vim/bundle/MatchTag
	url = git@github.com:gregsexton/MatchTag.git
[submodule "vim/bundle/tern_for_vim"]
	path = vim/bundle/tern_for_vim
	url = git@github.com:ternjs/tern_for_vim.git
[submodule "vim/bundle/tlib_vim"]
	path = vim/bundle/tlib_vim
	url = https://github.com/tomtom/tlib_vim.git
[submodule "vim/bundle/ultisnips"]
	path = vim/bundle/ultisnips
	url = https://github.com/sirver/ultisnips
[submodule "vim/bundle/vim-addon-mw-utils"]
	path = vim/bundle/vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "vim/bundle/vim-coloresque"]
	path = vim/bundle/vim-coloresque
	url = git@github.com:gko/vim-coloresque.git
[submodule "vim/bundle/vim-eunuch"]
	path = vim/bundle/vim-eunuch
	url = https://github.com/tpope/vim-eunuch
[submodule "vim/bundle/vimroom"]
	path = vim/bundle/vimroom
	url = https://github.com/mikewest/vimroom
[submodule "vim/bundle/vim-snipmate"]
	path = vim/bundle/vim-snipmate
	url = https://github.com/garbas/vim-snipmate
[submodule "vim/bundle/vim-snippets"]
	path = vim/bundle/vim-snippets
	url = https://github.com/honza/vim-snippets
[submodule "vim/bundle/vim-speeddating"]
	path = vim/bundle/vim-speeddating
	url = https://github.com/tpope/vim-speeddating
[submodule "vim/bundle/vim-surround"]
	path = vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround
