[Desktop Entry]
Type=Application
Exec=daynight
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=daynight
Name=daynight
Comment[en_US]=Auto switch gtk and gnome-shell themes based on time of day
Comment=Auto switch gtk and gnome-shell themes based on time of day
