[Desktop Entry]
Type=Application
Exec=fusuma
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=Fusuma
Name=Fusuma
Comment[en_US]=Trackpad multitouch gestures
Comment=Trackpad multitouch gestures
